<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
    <div class="container">
        <div class="nav-container">
            <a href="{{ '/' | relative_url }}" class="nav-logo">🎲🎨</a>
            <ul class="nav-menu">
                <li><a href="{{ '/essays' | relative_url }}">Эссе</a></li>
                <li><a href="{{ '/projects' | relative_url }}">Проекты</a></li>
            </ul>
        </div>
    </div>
    </nav>

    {{ content }}

    <footer class="footer">
            <p>2025 · <a href="mailto:evgeniy.dunenkov@gmail.com">email</a> 
                · <a href="https://t.me/chwzh">telegram</a>
                · <a href="https://github.com/zhenyacode">github</a></p>
    </footer>
</body>
</html>